<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="name">Stock Market Analysis</div>
        <div class="navbar">
            <nav>
                <li>Market State</li>
                <li><a href="paperTrading">Paper Trad</a></li>
                <li>Market Analysis and Prediction</li>
                <li>personalized Plans</li>
                <li>Expert Consultation</li>
            </nav>
        </div>
        <div class="login">
            <button><a href="login">login</a></button>
        </div>                                                                                                              
    </div>
    <br><br><br><br>    
    <div class="dash">
        <h1>Welcome to Stock Market Analysis</h1>
        <p>Stock Market Analysis is a cutting-edge platform designed to empower individuals with comprehensive stock market insights.
             Whether you are an experienced investor or someone just starting to explore the world of stocks, our tool offers 
             invaluable data and predictive analytics to help you make informed investment decisions. With real-time market trends, 
             advanced algorithms, and customizable alerts, you can monitor your portfolio, evaluate potential stocks, and stay ahead 
             of market movements. Our premium features provide even deeper insights and access to expert recommendations, ensuring
              you have the edge needed to succeed in today's dynamic financial landscape. Join thousands of users who have already
               optimized their investment strategies with Stock Market Analysis-your gateway to financial success.
        </p>
        <br><br>
        <div class="premium">
            <p>Try our premium features to unlock advanced tools and insights for smarter
                investments.Experience expert consultations,personalized plans,and much more
            </p>
            <button><a href="payment" style="text-decoration: None;color:White">Buy Premium</a></button>
        </div>
    </div>
</body>
</html>